<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandesh.hamrobazar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Hamrobazar"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".RegisterActivity"
            android:theme="@style/AppThemeAction">
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Condtions.AdActivity"
            android:label="Rules for Posting Ad"
            android:theme="@style/AppThemeAction" />
        <activity
            android:name=".Condtions.SafetyActivity"
            android:label="Safety Tips for Transcation"
            android:theme="@style/AppThemeAction" />
        <activity
            android:name=".Condtions.TermsActivity"
            android:label="Terms and Conditional for Use"
            android:theme="@style/AppThemeAction" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>